<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>poké-tracker</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <link href="https://res.mapjam.com/lib/0.9/mapjam.css" rel="stylesheet" />
  <link href="https://res.mapjam.com/lib/0.9/mapjam-resources-L0.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/site.css"/>
</head>

<body>

  <!-- insert views here -->
  <ui-view></ui-view>

  <!-- libs/frameworks -->
  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/scripts/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="https://res.mapjam.com/lib/0.9/mapjam.js"></script>
  <script src="https://res.mapjam.com/lib/0.9/mapjam-resources-L0.js"></script>
  <script src="/scripts/geocoder-js/dist/geocoder.js" charset="utf-8"></script>

  <!-- app scripts -->
  <script src="/js/app.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/controllers.js"></script>
</body>

</html>
