body {
  background-color: #f0f0f0;
}

button {
  width: 100%;
  margin-bottom: 10px !important;
}

a {
  cursor: pointer;
}

#mapDiv {
  height: 75vh;
  width:100%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #ee1515 !important;
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    color: #ffffff !important;
    margin-left: 0px;
}

.white {
  color: #ffffff !important;
  cursor: pointer;
}

.panel-default {
  margin-bottom: 0px !important;
}

.hdr {
  margin-top: 100px !important;
}

.title {
  font-size: 40px;
  margin-top: 10px;
}

.stats {
  margin-top: 10px;
  margin-bottom: 20px;
}
